.include_box {
    width: 690px;
    margin:2% 0;

    h3 {
        font-size: 18px;
        width: 100%;
        font-weight: 900;
        letter-spacing: 0;
        padding-bottom: 5px;
        background-image: linear-gradient(to right, #40C2F0 0%, #E85382 100%);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 15%;
        margin-top: 30px;
        font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
    }

    div.flex_box {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .flex_item {
            width: 18%;
        }

        .attention {
            width: 48%;
        }

        img:hover {
            box-shadow: 0 0 20px 0 rgba(97, 194, 250, 0.6);
        }

        .feature {
            width: 32%;
            margin-bottom: 3%;
        
        a{
            font-size: 12px;
            text-decoration: none;
        }
        }

        .empty_item {
            width: 32%;
        }
    }

    img {
        width: 100%;
        border-radius: $border-radius;
    }

}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}