$border-radius: 10px;
$margintb_5:5% 0;
$margintb_2:2% auto;
$font-size-pc:1.6rem;
$font-size-sp:1.4rem;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.3%;
}

body {
    color: #333;
    font-size: $font-size-pc;
    //16px
    font-family: "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include sp {
        font-size: $font-size-sp;
    }
}

img {
    width: 100%;
    height: 100%;
}

main {
    @include sp {
        padding: 1%;
    }
}

footer {
    width: 100%;
    //background-color: #F0F0F0;
    text-align: center;

    small {
        font-size: 1.2rem;
    }
}

section.feature {

    @keyframes text_animation1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes text_animation2 {
        0% {
            letter-spacing: 0;
            transform: translateY(-1000px);
            opacity: 0;
        }

        80% {
            opacity: 0;
        }

        100% {
            letter-spacing: 0;
        }
    }


    @keyframes text_animation3 {
        0% {
            letter-spacing: 0;
            transform: translateX(-1000px);
            opacity: 0;
        }

        60% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    header {
        animation: text_animation1 5S
    }

    h1 {
        animation: text_animation3 3S
    }

    header div {
        animation: text_animation2 3S
    }

    header {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-image: url(./../img/feature/soba_image.jpg);
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        h1 {
            font-size: 10vw;
            color: #fff;
            text-align: left;
            font-family: 'Rajdhani', sans-serif;
            line-height: 1;
            text-shadow: 0 2px 5px rgba(0, 0, 0, .5);

            @include sp {
                font-size: 16vw;
                margin-bottom: 10%;
            }
        }

        div {
            font-size: 2.0rem;
            font-weight: 900;
            color: #fff;
            line-height: 2;
            text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }
    }

    section {
        margin: $margintb_5;
    }

    h2 {
        font-size: 5.0rem;

        @include pc {
            font-size: 4.0rem;
            margin-bottom: 3%;
        }

        @include tab {
            font-size: 4.0rem;
        }

        @include sp {
            font-size: 2.5rem;
            margin-bottom: 10%;
        }

        color: #40c2f0;
        position: relative;
        text-align: center;
        background: -webkit-linear-gradient(45deg, #40c2f0 0%, #E95383 100%);
        -webkit-background-clip: text; //テキストでくり抜く
        -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
        font-weight: 900;
        position: relative;
        display: block;
        margin-bottom: 1em;
        text-align: center;

    }

    div {
        width: 100%;
        margin: $margintb_2;
        text-align: center;
    }

    ul {
        margin: 2% 0;

        li {
            list-style: none;
            line-height: 2;
            font-weight: 700;
        }
    }

    .flex_box {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            @include sp {
                font-size: 2.0rem;
            }
        }

        div {
            width: 50%;

            @include sp {
                padding: 1%;
            }
        }

        img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            font-family: 'object-fit: cover';


            @include sp {
                height: 30vh;
            }

        }
    }

    .flex_box_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 1280px;

        @include pc {
            width: 100%;
        }

        @include tab {
            width: 100%;
        }

        @include sp {
            width: 100%;
        }

        div {
            width: 32%;
        }

        img {
            width: 100%;
            margin-bottom: 3%;
            object-fit: cover;
            font-family: 'object-fit: cover';
            border-radius: $border-radius;

        }
    }

    img.col1 {
        width: 100%;
        height: 800px;
        object-fit: cover;
        font-family: 'object-fit: cover';

        @include sp {
            height: 500px;
        }
    }

    a {
        text-decoration: none;
        color: #333;

        &:hover {
            opacity: 0.5;
            filter: alpha(opacity=50);
            -moz-filter: "alpha( opacity=50 )";
            -webkit-filter: "alpha( opacity=50 )";
            -o-filter: "alpha( opacity=50 )";
            -ms-filter: "alpha( opacity=50 )";
        }
    }

}

.empty_item {
    width: 30%;
}

section.feature_led {
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
    }

    header {
        //width: 100vw;
        height: 100vh;
        background-size: cover;
        background-image: url(./../img/feature/led_top.jpg);
        background-position: 80% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            font-size: 15vw;
            color: #fff;
            text-align: left;
            font-family: 'Rajdhani', sans-serif;
            text-shadow: 0 0 100px #fff, 0 0 40px #40c2f0, 0 0 50px #40c2f0, 0 0 60px #40c2f0;

            @include sp {
                font-size: 16vw;
                margin-bottom: 10%;
            }
        }

        p {
            width: 90%;
            text-align: center;
            font-size: 2.0rem;
            line-height: 2;
            font-weight: bolder;
            text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }
    }

    main {
        //padding: 0 3%;
        margin: 0 auto;
    }

    h2 {
        font-size: 5.0rem;
        text-align: center;
        font-weight: 900;
        text-shadow: 0 0 100px #fff, 0 0 40px #40c2f0, 0 0 50px #40c2f0, 0 0 60px #40c2f0;
        margin: 5% 0;

        @include sp {
            font-size: 2.5rem;
        }
    }

    .flex_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3% 0;

        @include sp {
            flex-direction: column;
        }

        div {
            width: 50%;

            @include sp {
                width: 100%;
            }
        }

        img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            font-family: 'object-fit: cover';
          //  object-position: 0% 0%;

            @include sp {
                height: 50vh;
            }
        }
    }

    .flex_box_item {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 900px;
        background-color: black;
        border-radius: $border-radius;
        padding: 0.5%;
        margin-bottom: 5%;
        -webkit-transition: all .3s;
            transition: all .3s;

       
        @include pc {
            width: 100%;
        }

        @include tab {
            width: 100%;
        }

        @include sp {
            width: 90%;
        }
        &:hover {
            box-shadow:
                0 0 50px #fff,
                -10px 0 20px #0ff,
                10px 0 20px #0ff;
                -webkit-transition: all .7s;
            transition: all .7s;

        }

        p{
            text-align:left;
            padding-left: 3.2rem;
        }

        h3{
            font-size: 2.5rem;
            margin-bottom: 5%;
        }


        div {
            width: 50%;

            @include sp {
                width: 100%;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover';
            border-radius: $border-radius;
           

        }


        img.col1 {
            width: 100%;
            height: 800px;
            object-fit: cover;
            font-family: 'object-fit: cover';

            @include sp {
                height: 500px;
            }
        }

        .button {
            display: inline-block;
            width: 200px;
            height: 54px;
            text-align: center;
            text-decoration: none;
            line-height: 54px;
            outline: none;
            margin-top: 5%;
            font-weight: 700;
            &::before,
            &::after {
                position: absolute;
                z-index: -1;
                display: block;
                content: '';
            }

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;

            &::before,
            &::after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all .3s;
                transition: all .3s;
                
            }
        }

        .button {
            background-color: #aaa;
            border: 2px solid #aaa;
            color: #fff;
            line-height: 50px;

            &:hover {
                background-color: #fff;
                border-color: #0ff;
                color: #59b1eb;
                box-shadow:
                0 0 30px#0ff,

            }
        }
    }



        @keyframes led_animation1 {
            0% {
                opacity: 0;
            }

            20% {
                opacity: 0.5;
            }

            40% {
                opacity: 0.2;
            }

            60% {
                opacity: 0, 8;
            }

            80% {
                opacity: 0.4;
            }

            90% {
                opacity: 0.2;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes led_animation2 {
            0% {
                opacity: 0;
            }

            60% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


        header {
            animation: led_animation1 2S;
        }

        header h1,
        header h2,
        header p {
            animation: led_animation2 4S
        }

    }
