span.underline {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-weight: 600;
  }
  
  span.catch_copy{
    color: darkgray;
    font-size: 90% !important;
    display: block;
  }
  
  span.item_name{
    font-size: 115% !important;
  }
  span.item_desc{
    font-size: 14px;
  }