@import "functions";


html {
  font-size: 62.3%;
}

body {
  color: $text-color;
  font-size: $font-size-16;
  //16px
  font-family: "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2.3rem !important;
  width: 100%;
  position: relative;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #40c2f0 0%, #e85483 100%);
  border-image-slice: 0 0 1;
  font-weight: 700;
  margin-bottom: 2%;
}

/*content*/
.row section.inner_container{
  width: 100%;
  margin: 0 2%;
}

a.qa_list {
  margin: 2% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none !important;
  color: rgb(49, 170, 226) !important;
  line-height: 2;
  font-size: $font-size-16;
  font-weight: 500;

  &:hover {
    padding: 0 10px;
    background-position: -100% 0;
    color: #fff !important;
  }
}

span.underline {
  background: linear-gradient(transparent 60%, #ffff66 60%);
  font-weight: 600;
}

@import "content/showroom";
@import "content/rule";
@import "content/oteire";
@import "content/faq";
@import "content/perspmnal_info";
