/*お手入れ方法*/

section.oteire {
  font-size: $font-size-16;
  line-height: 2;

  h3 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  h3 {
    position: relative;
    //display: inline-block;
    padding: 1rem 2rem 1rem 4rem;
    color: #fff;
    border-radius: 100vh 0 0 100vh;
    background: #427eff;
  }

  h3:before {
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: bolder;
  }

  p,
  h4 {
    padding-left: 32px;
  }

  img {
    width: 100%;
    margin-bottom: 3%;
  }

  span {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-weight: 600;
  }
}
