.personal_info {
    font-size: $font-size-16;
    margin: 0 auto;
    line-height: 2;
    
  
    h3 {
        font-size: 2.0rem;
        margin: 3% 0;
        border-left: 10px solid $text-color;
        padding-left: 13px;
      }
  
    ol {
      padding: 0 3%;
    }
  
    li {
      list-style: decimal;
      line-height: 1.8;
      margin-bottom: 2%;
      margin-left: 20px;
  
      span {
        display: block;
        font-size: 18px;
        font-weight: 500;
      }
  
      p.tex_right {
        text-align: right;
      }
  
    }
  
    div {
      border: 1px solid #aaa;
      padding: 2%;
      margin: 3% 0;
  
      p {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 1%;
        border-bottom: #aaa 1px solid;
      }
    }
  }